---
import type { MarkdownHeading } from 'astro';
import type { CollectionEntry } from 'astro:content';
import HeadCommon from '../components/HeadCommon.astro';
import HeadSEO from '../components/HeadSEO.astro';
import Header from '../components/Header/Header.astro';
import PageContent from '../components/PageContent/PageContent.astro';
import LeftSidebar from '../components/LeftSidebar/LeftSidebar.astro';
import RightSidebar from '../components/RightSidebar/RightSidebar.astro';
import Footer from '../components/Footer/Footer.astro';
import { GITHUB_EDIT_URL, SITE } from '../consts';

type Props = CollectionEntry<'docs'>['data'] & {
	headings: MarkdownHeading[];
};

const { headings, ...data } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const currentPage = Astro.url.pathname;
const currentFile = `src/content/docs${currentPage.replace(/\/$/, '')}.md`;
const githubEditUrl = `${GITHUB_EDIT_URL}/${currentFile}`;
const toc = Astro.props.toc;
---

<html dir={data.dir} lang={data.lang} class="initial">
    <head>
        <HeadCommon />
        <HeadSEO {...data} canonicalUrl={canonicalURL} />
        <title>
            {`${data.title} - ${SITE.title}`}
        </title>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/temml@0.11.10/dist/Temml-Local.min.css">
        <script src="https://cdn.jsdelivr.net/npm/temml@0.11.10/dist/temmlPostProcess.js" crossorigin="anonymous"></script>

        <!-- the KaTeX element are only use for JSXGraph equation -->
        <link 
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.4/katex.min.css"
        />
        <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/katex.js" integrity="sha384-tsPOhveNsi36uhglzMBNOAA2xd7LlEqQuQHFKi4DwP+6UKrrLGub1MD77Zx18F8e" crossorigin="anonymous"></script>
    </head>

    <body class="bg-primary-dark font-roboto text-white text-base leading-loose">
        <Header currentPage={currentPage} />
        <main class="flex justify-center">
            <!-- <aside class="p-4 w-72 bg-dark-50 absolute left-0 z-50" title="Site Navigation"> -->
            <!--     <LeftSidebar currentPage={currentPage} /> -->
            <!-- </aside> -->
            <PageContent title={data.title} headings={headings} description={data.description} githubEditUrl={githubEditUrl} toc={toc}>
                <slot />
            </PageContent>
            <!--<aside class="flex flex-col sticky top-0 p-4 bg-dark-50" title="Table of Contents"> -->
                <!-- <RightSidebar headings={headings} githubEditUrl={githubEditUrl} /> -->
            <!-- </aside> -->
        </main>
        <Footer path={currentFile} />
    </body>
</html>

<script is:inline>
document.addEventListener("DOMContentLoaded", function(){
  temml.postProcess(document.body)
});
</script>
