---
import type { MarkdownHeading } from 'astro';
import type { CollectionEntry } from 'astro:content';
import HeadCommon from '../components/HeadCommon.astro';
import HeadSEO from '../components/HeadSEO.astro';
import Header from '../components/Header/Header.astro';
import PageContent from '../components/PageContent/PageContent.astro';
import LeftSidebar from '../components/LeftSidebar/LeftSidebar.astro';
import RightSidebar from '../components/RightSidebar/RightSidebar.astro';
import Footer from '../components/Footer/Footer.astro';
import { GITHUB_EDIT_URL, SITE } from '../consts';

type Props = CollectionEntry<'docs'>['data'] & {
	headings: MarkdownHeading[];
};

const { headings, ...data } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const currentPage = Astro.url.pathname;
const currentFile = `src/content/docs${currentPage.replace(/\/$/, '')}.md`;
const githubEditUrl = `${GITHUB_EDIT_URL}/${currentFile}`;
---

<html dir={data.dir} lang={data.lang} class="initial">
	<head>
		<HeadCommon />
		<HeadSEO {...data} canonicalUrl={canonicalURL} />
		<title>
			{`${data.title} - ${SITE.title}`}
		</title>

        <!-- this is required to properly render math went using katex -->
        <link 
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.16.4/katex.min.css"
        />
	</head>

	<body class="bg-primary-dark font-roboto text-base text-white leading-relaxed">
		<Header currentPage={currentPage} />
		<main class="flex items-start justify-between">
			<aside class="" title="Site Navigation">
				<LeftSidebar currentPage={currentPage} />
			</aside>
			<div id="grid-main" class="w-[700px]">
				<PageContent title={data.title} headings={headings} description={data.description} githubEditUrl={githubEditUrl}>
					<slot />
				</PageContent>
			</div>
			<aside class="" title="Table of Contents">
				<RightSidebar headings={headings} githubEditUrl={githubEditUrl} />
			</aside>
		</main>
		<Footer path={currentFile} />
	</body>
</html>
